IDTP.Utility/pacs_0082.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:iso:std:iso:20022:tech:xsd:pacs.008.001.04" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:pacs.008.001.04" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Document">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FIToFICstmrCdtTrf">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="GrpHdr">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="MsgId">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:minLength value="18"/>
                          <xs:maxLength value="35"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="CreDtTm" type="xs:dateTime" />
                    <xs:element name="NbOfTxs" type="xs:string" fixed="1" />
                    <xs:element name="SttlmInf">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SttlmMtd" type="xs:string" fixed="CLRG" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="CdtTrfTxInf">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PmtId">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="InstrId">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="18"/>
                                <xs:maxLength value="35"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="EndToEndId">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="18"/>
                                <xs:maxLength value="35"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="TxId">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="18"/>
                                <xs:maxLength value="35"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PmtTpInf">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ClrChanl" type="xs:string" fixed="RTGS" />
                          <xs:element name="SvcLvl">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Prtry" type="xs:unsignedByte" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="LclInstrm">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Prtry">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:pattern value="RTGS_SSCT|RTGS_CSCT"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="CtgyPurp">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Prtry" type="xs:unsignedByte" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="IntrBkSttlmAmt">
                      <!--<xs:simpleType id="RestrictedDouble">
                        <xs:restriction base="xs:decimal">
                          <xs:minInclusive value="0" />
                          <xs:fractionDigits value="5" />
                          <xs:totalDigits value="14" />
                        </xs:restriction>
                      </xs:simpleType>-->
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:unsignedShort">
                            <xs:attribute name="Ccy" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="IntrBkSttlmDt" type="xs:date" />
                    <xs:element name="ChrgBr" fixed="SHAR">
                    </xs:element>
                    <xs:element name="InstgAgt">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FinInstnId">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="BICFI" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="InstdAgt">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FinInstnId">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="BICFI" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Dbtr">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Nm">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="70"/>
                                <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,70}" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DbtrAcct">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Id">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Othr">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Id">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1"/>
                                            <xs:maxLength value="34"/>
                                            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DbtrAgt">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FinInstnId">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="BICFI" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="BrnchId">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Id" type="xs:unsignedInt" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DbtrAgtAcct">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Id">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Othr">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Id">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1"/>
                                            <xs:maxLength value="34"/>
                                            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="CdtrAgt">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FinInstnId">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="BICFI" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="BrnchId">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Id" type="xs:unsignedInt" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="CdtrAgtAcct">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Id">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Othr">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Id">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1"/>
                                            <xs:maxLength value="34"/>
                                            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Cdtr">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Nm">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="70"/>
                                <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,70}" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="CdtrAcct">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Id">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Othr">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Id">
                                        <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                            <xs:minLength value="1"/>
                                            <xs:maxLength value="34"/>
                                            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)" />
                                          </xs:restriction>
                                        </xs:simpleType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="RmtInf">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Ustrd">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="140"/>
                                <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,140}" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="SplmtryData">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PlcAndNm" type="xs:string" />
                    <xs:element name="Envlp" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>