IDTP.Utility/pacs_008.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:swift:saa:xsd:saa.2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:iso:std:iso:20022:tech:xsd:head.001.001.01" />
  <xs:import namespace="urn:iso:std:iso:20022:tech:xsd:pacs.008.001.04" />
  <xs:element name="DataPDU">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Revision" type="xs:string" />
        <xs:element name="Body">
          <xs:complexType>
            <xs:sequence>
              <xs:element xmlns:q1="urn:iso:std:iso:20022:tech:xsd:head.001.001.01" ref="q1:AppHdr" />
              <xs:element xmlns:q2="urn:iso:std:iso:20022:tech:xsd:pacs.008.001.04" ref="q2:Document" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>